
<!-- Lumina Modal -->
<div class="modal fade" id="luminaModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="myModalLabel">Lumina</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5>
          A social media platform designed to change your life for the better.
        </h5>
        <br>
        <p>
          Lumina was selected as one of the top projects in Le Wagon Batch 466. I am currently overseeing Lumina as Project Manager working with a team of three others. We're excited to demonstrate Lumina in its entirety on March 20th, 2021.
        </p>
        <%= image_tag "portfolio/lumina-landing.png", class:"img-fluid my-3" %>
        <br>
        <p>The landing page was designed to be beautiful from the beginning. A call to action in multiple occurrences on the page allow the user to interact seemlessly with the platform. The background gradient colour was selected to blend the word 'Lumina' with 'luminescence', a sign of a bold beginning.</p>
        <%= image_tag "portfolio/lumina-landing2.png", class:"img-fluid my-3" %>
        <p>The Feed Page has been designed to have its theme customised based on the user preference. A consistent navbar between the pages and simple, elegant card layouts help guide the user in an intuitive way.</p>
        <%= image_tag "portfolio/lumina-feed-dark.png", class:"img-fluid my-3" %>
         <p>The Discover Page will be constructed using Mapbox. It's a fun, exciting way to find events happening near you. We are employing the use of the Eventbrite API to help users find events relevant to their interests.</p>
        <%= image_tag "portfolio/lumina-discover.png", class:"img-fluid my-3" %>
         <p>Messages are critical for communication in Lumina, so we have devoted an entire page to it. The inbox floats between the navbar and the message thread, with subtle tones yet bold fonts for names. It's easy to navigate and fun to interact with.</p>
        <%= image_tag "portfolio/lumina-messages.png", class:"img-fluid my-3" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
