
<!-- Lumina Modal -->
<div class="modal fade" id="luminaModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="myModalLabel">Lumina</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5>
          A social media platform designed to change your life for the better.
        </h5>
        <br>
        <p>
          Lumina was selected as one of the top projects in Le Wagon Batch 466. I am currently overseeing Lumina as Project Manager working with a team of three others. We're excited to demonstrate Lumina in its entirety on March 20th, 2021.
        </p>
        <%= image_tag "portfolio/lumina-landing.png", class:"img-fluid my-3" %>
        <br>
        <p>The landing page was designed to be beautiful from the beginning. A call to action in multiple occurrences on the page allow the user to interact seemlessly with the platform. The background gradient colour was selected to blend the word 'Lumina' with 'luminescence', a sign of a bold beginning.</p>
        <%= image_tag "portfolio/lumina-landing2.png", class:"img-fluid my-3" %>
        <p>The Feed Page has been designed to have its theme customised based on the user preference. A consistent navbar between the pages and simple, elegant card layouts help guide the user in an intuitive way.</p>
        <%= image_tag "portfolio/lumina-feed-dark.png", class:"img-fluid my-3" %>
         <p>The Discover Page will be constructed using Mapbox. It's a fun, exciting way to find events happening near you. We are employing the use of the Eventbrite API to help users find events relevant to their interests.</p>
        <%= image_tag "portfolio/lumina-discover.png", class:"img-fluid my-3" %>
         <p>Messages are critical for communication in Lumina, so we have devoted an entire page to it. The inbox floats between the navbar and the message thread, with subtle tones yet bold fonts for names. It's easy to navigate and fun to interact with.</p>
        <%= image_tag "portfolio/lumina-messages.png", class:"img-fluid my-3" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- Thief of Joy Modal -->
<div class="modal fade" id="thiefModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="myModalLabel">Thief of Joy</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5>
          A platform designed for you to compare Strava statistics against professional athletes.
        </h5>
        <p>
          Thief of Joy is a passion project stemming from my love of health, fitness, and triathlon. It is often incomprehensible how elite pro tour cyclists, ultra runners, and triathletes are.
          <br>
          The name Thief of Joy is a play on the idea that comparing yourself to others ruins the fun in things.
        </p>
        <br>
        <%= image_tag "portfolio/thiefofjoy-landing1.png", class:"img-fluid my-3" %>
        <br>
        <p>
          Thief of Joy is a demonstration of grid layouts and a clean minimal aesthetic. It invites users to explore athletes with hover effects on each individual athlete image. The banner image welcomes users with a feeling of power and desire for more.
          <br>
          This Figma layout challenged me to bring minimalism and a simple aesthetic to a website without compromising integrity or effectiveness.
        </p>
        <%= image_tag "portfolio/thiefofjoy-landing2.png", class:"img-fluid my-3" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



<!-- Calypso Cakes Modal -->
<div class="modal fade" id="calypsoModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="myModalLabel">Calypso Cakes</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5>
          A vegan cake website with a retro, stunning aesthetic.
        </h5>
        <button class="btn btn-success mt-3 mb-3">
          <a href="https://www.calypsocakes.com/">Visit Website</a>
        </button>
        <p>
          Calypso Cakes is a vegan cake website I designed and built with the personality of the business owner in mind. It is designed to be functional and simple, yet aesthetically beautiful while retaining responsiveness on across all devices.
        </p>
        <br>
        <%= image_tag "portfolio/calypso1.png", class:"img-fluid my-3" %>
        <br>
        <p>

        </p>
        <%= image_tag "portfolio/calypso2.png", class:"img-fluid my-3" %>
        <%= image_tag "portfolio/calypso3.png", class:"img-fluid my-3" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- HALT Modal -->
<div class="modal fade" id="haltModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="myModalLabel">HALT Redesign</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h5>
          A unique demonstration of colour and positioning.
        </h5>
        <p>
          If you haven't heard of HALT, a Melbourne-based vegan-friendly and sustainable clothing brand - I would suggest checking them out. This Figma redesign challenged me to introduce bold, bright colours to a page while maintaining effectiveness with audience reach.
        </p>
        <br>
        <%= image_tag "portfolio/halt-1.png", class:"img-fluid my-3" %>
        <br>
        <%= image_tag "portfolio/halt-2.png", class:"img-fluid my-3" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
