<div class="container px-0">
  <div class="row m-0 p-0">

    <!-- Each image here -->
    <div class="col-md-6 col-sm-12">
      <div class="item mb-4">
        <%= image_tag "portfolio/spinfinder1.png", alt:"", class:"img-fluid rounded img-project"%>
        <h3 class="mt-2 mb-0">Spin Finder</h3>
        <p>Full Website</p>
      </div>
    </div>


    <div class="col-md-6 col-sm-12">
      <div class="item mb-4">
        <a href="#" data-toggle="modal" data-target="#luminaModal">
          <%= image_tag "portfolio/lumina-landing.png", alt:"Lumina landing page", class:"img-fluid rounded img-project"%></a>
        <h3 class="mt-2 mb-0">Lumina</h3>
        <p>Figma Design</p>
      </div>
    </div>


    <div class="col-md-6 col-sm-12">
      <div class="item mb-4">
        <%= image_tag "portfolio/thiefofjoy-landing1.png", alt:"", class:"img-fluid rounded img-project" %>
        <h3 class="mt-2 mb-0">Thief of Joy</h3>
        <p>Figma Design</p>
      </div>
    </div>


    <div class="col-md-6 col-sm-12">
      <div class="item mb-4">
        <%= image_tag "portfolio/calypso1.png", alt:"", class:"img-fluid rounded img-project" %>
        <h3 class="mt-2 mb-0">Calypso Cakes</h3>
        <p>Figma Design</p>
      </div>
    </div>

    <div class="col-md-6 col-sm-12">
      <div class="item mb-4">
        <%= image_tag "portfolio/halt-1.png", alt:"", class:"img-fluid rounded img-project" %>
        <h3 class="mt-2 mb-0">Halt Redesign</h3>
        <p>Figma Design</p>
      </div>
    </div>
  </div>
</div>
